@font-face {
    font-family: "Netflix Sans";
    src: url("netflix-sans-font/NetflixSans-Regular.otf"), format("opentype");
    font-family: "Batman Sans";
    src: url("batman_forever/batmfa__.ttf"), format("truetype");
}*{
  margin: 0;
  padding: 0;
}
body{
  height: 3200px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0.2fr 8fr 0.8fr;
  zoom: 110%
}
/* HEADER */
header {
display: flex;
justify-content: space-between;
align-items: center;
  padding: 20px 5%;
  background-color: rgba(0, 0, 0, 0.488);
}
main{
  display: flex;
  flex-direction: column;
  gap: 20px; 
}
#div_esquerda_header{
  display: flex;
  align-items: center;
  width: 50% ;
  gap: 50px;
}
#links_header{
display: flex;
  gap: 20px;
}
#links_header > a{
  text-decoration: none;
  color: #bbbbbb;
  font-family: "Netflix Sans";
}
#links_header > a:hover{
  color: white;
}
#links_header > a:last-child{
font-family: "Netflix Sans";
color: #bbbbbb;
font-weight: bold;
}
#links_header > a:last-child:hover{
  color: white;
}
#img_shawn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  }
#div_direita_header{
display: flex;
  align-items: center;
  gap: 20px;
}
#div_direita_header > a{
  font-family: "Netflix Sans";
  text-decoration: none;
  color: #bbbbbb;
}
#div_direita_header > a:hover{
  color: white;
  }
#div_direita_header > button{
background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}
#div_direita_header > button:hover{
  cursor: pointer ;
  transform: scale(1.05);
}
.imgs_header_icons{
  width: 20px;
  height: 20px;
  } 
#div_interior_div_direita_header > button{
display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}
#div_interior_div_direita_header > button:hover{
  cursor: pointer ;
  transform: scale(1.05);
}
  #div_interior_div_direita_header > button:hover > #img_seta_cima {
  transition: all 0.5s ease-in-out;
}
#div_interior_div_direita_header > button:hover > #img_seta_cima {
  transform: rotate(180deg);
}

#div_botao>button{
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}
#div_botao>button:hover{
  cursor: pointer ;
    transform: scale(1.05);
}

#div_botao > form > input{
  width: 0px;
  height: 30px;
  background-color: #00000092;
  border: none;
  transition: all 0.5s ease-in-out;
  font-family: "Netflix Sans";
  font-size: 16px;
}

#div_botao > form > input:focus{
    outline: white;
}
#div_botao > form > button{
  background-color: transparent;
  border: none;
  width: 30px;
  
}
#div_botao > form > button:hover{
  cursor: pointer ;
  transform: scale(1.05);
}

#div_botao > form{
    display: flex;
}
/* FIM HEADER */
/* SEÇÃO 1 */
#secao1{
    height: 800px;
    background-image: url("assets/fundo_batman.jpeg");
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
}
#divs_secao1{
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  width: 100%;
  height: 90%;
  
}
#div_cima_secao1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: transparent;
    margin-left: 50px;
    gap: 20px;
}
#div_cima_secao1 > h1, p, div{
  float: left;
}

#div_cima_secao1 > h1{
  font-family: "Batman Sans";
  font-size: 80px;
  color: white;
  margin-bottom: 20px;
  font-weight: 800;
}
#div_botoes_secao1{
  display: flex;
  gap: 20px;
}
#botao1_secao1{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 170px;
  padding-left: 20px;
  background-color: white;
  font-family: "Netflix Sans";
  font-size: 20px;
  border: none;
  border-radius: 6px;
  color: black;
}
#botao1_secao1:hover{
  background-color: #bfbfbf;
  cursor: pointer;
}
#botao2_secao1{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 270px;
  padding: 10px 10px;
  padding-left: 20px;
  background-color: rgba(128, 128, 128, 0.854);
  font-family: "Netflix Sans";
  font-size: 20px;
  border: none;
  border-radius: 6px;
  color: black;
}
#botao2_secao1:hover{
  background-color: #616161b7;
  cursor: pointer;
}
#div_indicacao_secao1{
  display: flex;
  gap: 20px;
  align-items: center;
}
#div_indicacao_secao1 > p{
  font-family: "Netflix Sans";
  width: 30px;
  height: 20px;
  background-color: red;
  text-align: center;
  border: 1px solid white;
  color: white;
}
#div_cima_secao1 > p{
  font-family: "Netflix Sans";
  font-size: 20px;
  color: white;
  width: 70%;
}
#div_indicacao_secao1 > h2{
  font-family: "Netflix Sans";
  font-size: 28px;
  color: white;
}

/*SLIDER SECAO 1*/
#div_slider_secao1{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#div_slider_secao1 > h3{
  font-family: "Netflix Sans";
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 50px;
}
#slider{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
#slider > button{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.611);
  border: none;
  width: 60px;
  height: 192px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

}
/*BOTAO 1*/
#botao1_slider{
  left: 0;
}
#botao1_slider > img{
  margin-left: 10px;
}
/*BOTAO 2*/
#botao2_slider{
  right: 0;
}
#botao2_slider > img{
  margin-right: 10px;
}
#slider > button > img{
  width: 40px;
  height: 40px;
  display: none;
  transition: all 0.7s ease-in-out; 
  
}
#slider > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}
#div_slider_interno{
  display: flex;
  gap: 10px;
  width: 1758px;
  margin-left: 0px;
}
#div_slider_interno > img{
    border-radius: 4px;
}
/* FIM SEÇÃO 1 */
/* SEÇÃO 2 */
#secao2{
  height: 220px;
  display: flex;
  flex-direction: column;
}
#div_slider_secao2{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#div_slider_secao2 > h3{
  font-family: "Netflix Sans";
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 50px;
}
#slider_secao2{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
#slider_secao2 > button{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.611);
  border: none;
  width: 60px;
  height: 192px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

}
/*BOTAO 1*/
#botao1_slider_secao2{
  left: 0;
}
#botao1_slider_secao2 > img{
  margin-left: 10px;
}
/*BOTAO 2*/
#botao2_slider_secao2{
  right: 0;
}
#botao2_slider_secao2 > img{
  margin-right: 10px;
}
#slider_secao2 > button > img{
  width: 40px;
  height: 40px;
  display: none;
  transition: all 0.7s ease-in-out; 
  
}
#slider_secao2 > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}
#div_slider_secao2_interno{
  display: flex;
  gap: 10px;
  width: 1758px;
  margin-left: 0px;
}
#div_slider_secao2_interno > img{
    border-radius: 4px;
}


/* SEÇÃO 3 */
#secao3{
  height: 220px;
  display: flex;
  flex-direction: column;
}
#div_slider_secao3{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#div_slider_secao3 > h3{
  font-family: "Netflix Sans";
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 50px;
}
#slider_secao3{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
#slider_secao3 > button{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.611);
  border: none;
  width: 60px;
  height: 192px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

}
/*BOTAO 1*/
#botao1_slider_secao3{
  left: 0;
}
#botao1_slider_secao3 > img{
  margin-left: 10px;
}
/*BOTAO 2*/
#botao2_slider_secao3{
  right: 0;
}
#botao2_slider_secao3 > img{
  margin-right: 10px;
}
#slider_secao3 > button > img{
  width: 40px;
  height: 40px;
  display: none;
  transition: all 0.7s ease-in-out; 
  
}
#slider_secao3 > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}
#div_slider_secao3_interno{
  display: flex;
  gap: 10px;
  width: 1758px;
  margin-left: 0px;
}
#div_slider_secao3_interno > img{
    border-radius: 4px;
}
/* FIM SEÇÃO 3 */
/* SEÇÃO 4 */
#secao4{
  height: 620px;
}
/* FIM SEÇÃO 4 */
/* SEÇÃO 5 */
/* FIM SEÇÃO 5 */
/* SEÇÃO 6 */
#secao6{
  height: 220px;
  display: flex;
  flex-direction: column;
}
#div_slider_secao6{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#div_slider_secao6 > h3{
  font-family: "Netflix Sans";
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 50px;
}
#slider_secao6{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
#slider_secao6 > button{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.611);
  border: none;
  width: 60px;
  height: 192px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

}
/*BOTAO 1*/
#botao1_slider_secao6{
  left: 0;
}
#botao1_slider_secao6 > img{
  margin-left: 10px;
}
/*BOTAO 2*/
#botao2_slider_secao6{
  right: 0;
}
#botao2_slider_secao6 > img{
  margin-right: 10px;
}
#slider_secao6 > button > img{
  width: 40px;
  height: 40px;
  display: none;
  transition: all 0.7s ease-in-out; 
  
}
#slider_secao6 > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}
#div_slider_secao6_interno{
  display: flex;
  gap: 10px;
  width: 1758px;
  margin-left: 0px;
}
#div_slider_secao6_interno > img{
    border-radius: 4px;
}
/* FIM SEÇÃO 6 */
/* SEÇÃO 7 */
#secao7{
  height: 220px;
  display: flex;
  flex-direction: column;
}
#div_slider_secao7{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#div_slider_secao7 > h3{
  font-family: "Netflix Sans";
  font-size: 26px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
  margin-left: 50px;
}
#slider_secao7{
  position: absolute;
  width: 100%;
  margin-top: 20px;
}
#slider_secao7 > button{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.611);
  border: none;
  width: 60px;
  height: 192px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

}
/*BOTAO 1*/
#botao1_slider_secao7{
  left: 0;
}
#botao1_slider_secao7 > img{
  margin-left: 10px;
}
/*BOTAO 2*/
#botao2_slider_secao7{
  right: 0;
}
#botao2_slider_secao7 > img{
  margin-right: 10px;
}
#slider_secao7 > button > img{
  width: 40px;
  height: 40px;
  display: none;
  transition: all 0.7s ease-in-out; 
  
}
#slider_secao7 > button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}
#div_slider_secao7_interno{
  display: flex;
  gap: 10px;
  width: 1758px;
  margin-left: 0px;
}
#div_slider_secao7_interno > img{
    border-radius: 4px;
}
/* FIM SEÇÃO 7 */
footer{
    background-color: red;
}